.parrafo{
    font-size: 20px;
}
h1{
    color:#ff8000;
}
body{
    margin: 20px;
}
a{
    margin:20px;
}
li{
    margin: 15px;
}
#eliminar{
    margin: 15px;
}
.formularios{
    border:1px solid;
    width: 200px;
    height: 180px;
}
li{
    margin: 20px;
}